<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="1300" border="3">
  <tr>
    <td><a href="/app/college_registration/">college registration(1)</a></td>
    <td><a href="/app/program_manage/">program manage(or) add program(2)</a></td>
    <td><a href="/app/program_scheduling/">program schedule(3)</a></td>
    <td><a href="/app/judges/">judge registration(4)</a></td>
    <td><a href="/app/Judge_allocation/">Judge allocation(5)</a></td>
    <td><a href="/app/committe_members/">committee member registration(6)</a></td>
    <td><a href="/app/committee_member_allocation/">committee members allocation(7)</a></td>
    <td><a href="/app/accommodation/">accommodation(8)</a></td>
    <td><a href="/app/">discussion with committee member(9)</a></td>
  </tr>

  <tr>
    <td><a href="/app/view_college_registration/">view college registration</a></td>
    <td><a href="/app/view_program/">view program manage(or)view add program</a></td>
    <td><a href="/app/view_program_schedule/">view program schedule</a></td>
    <td><a href="/app/view_judge_registration/">view judge registration</a></td>
    <td><a href="/app/View_Judge_allocation/">view Judge allocation</a></td>
    <td><a href="/app/view_committee_member/">view committee members registration</a></td>
    <td><a href="/app/View_committee_member_allocation/">View committee member allocation</a></td>
    <td><a href="/app/view_accomadation/">view accommodation</a></td>
    <td><a href="/app/">view discussion with committee member</a></td>
  </tr>

  <tr>
    <td><a href="/app/candidate/">view participants</a></td>
  </tr>
  <tr>
    <td><a href="/app/view_result/">view result</a></td>
  </tr>
  <tr>
    <td><a href="/app/view_apeal_take_action/">appeal</a></td>
  </tr>
</table>

</body>
</html>
