<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

{% extends 'admin/index.html' %}
{% block body %}
<body>
<form action="/app/committee_member_allocationpost/" method="post">
  {% csrf_token %}
<h2>Committi Member allocation</h2>
<table class="table table-bordered" width="322" height="116" border="1">
  <tr>
    <td>Program name</td>
    <td><select name="select" id="select" required>
      {% for i in p %}
      <option value="{{ i.id }}">{{ i.event}}</option>
      {% endfor %}
    </select></td>
  </tr>
  <tr>
    <td>committi member mane</td>
    <td>
      <select name="select2" id="select2" required>
        {% for i in a %}
      <option value="{{ i.id }}">{{ i.member_name}}</option>
      {% endfor %}

    </select></td>
  </tr>
  <tr>
    <td colspan="2"><div align="center">
      <input class="btn btn-primary" type="submit" name="button" id="button" value="Submit" />
    </div></td>
    </tr>
</table>

</form>
</body>
{% endblock %}
<!--</html>-->
