<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>LOGIN</title>-->
<!--</head>-->

{% extends 'admin/index.html' %}
{% block body %}
<body>
<h2>view candidate registration</h2>
<table class="table table-bordered" width="630" height="52" border="1">
  <tr>
    <td>sl no</td>
    <td>programs</td>
    <td>Student name</td>
    <td>Photo</td>
    <td>Gender</td>
    <td>Phone</td>
    <td>E-mail</td>
    <td>place</td>
    <td>post</td>
    <td>district</td>
    <td>pin</td>
    <td>college name</td>
  </tr>
  {% for i in data %}
  <tr>
    <td>&nbsp;{{forloop.counter}}</td>
    <td>&nbsp;{{ i.PROGRAM.event}}</td>
    <td>&nbsp;{{ i.name}}</td>
    <td>&nbsp;<img src="{{i.photo}}" width="100" height="100"></td>
    <td>{{ i.gender}}</td>
    <td>&nbsp;{{ i.phone}}</td>
    <td>&nbsp;{{ i.E_mail}}</td>
    <td>&nbsp;{{ i.place}}</td>
    <td>&nbsp;{{ i.post}}</td>
    <td>&nbsp;{{ i.district}}</td>
    <td>&nbsp;{{ i.pin}}</td>
    <td>&nbsp;{{ i.COLLEGE.college_name}}</td>
  </tr>
  {% endfor %}
</table>

</body>
{% endblock %}
<!--</html>-->