<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

{% extends 'admin/index.html' %}
{% block body %}
<body>
<h2>view jedge registration</h2>
<table class="table table-bordered" width="588" height="52" border="1">
  <tr>
    <td>S_no</td>
    <td>judge name</td>
    <td>photo</td>
    <td>phone</td>
    <td>E-mail</td>
    <td>place</td>
    <td>post</td>
    <td>district</td>
    <td>pin</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  {% for i in data %}
  <tr>
    <td>&nbsp;{{forloop.counter}}</td>
    <td>&nbsp;{{i.name}}</td>
    <td>&nbsp;<img src="{{i.photo}}" width="100" height="100"></td>
    <td>&nbsp;{{i.phone}}</td>
    <td>&nbsp;{{i.email}}</td>
    <td>&nbsp;{{i.place}}</td>
    <td>&nbsp;{{i.post}}</td>
    <td>&nbsp;{{i.district}}</td>
    <td>&nbsp;{{i.pin}}</td>
    <td><a href="/app/Edit_judge_registration/{{i.id}} #main" class="btn btn-success">Edit</a></td>
    <td><a href="/app/delete_judge_registration/{{i.id}} #main" class="btn btn-danger">Delete</a></td>
  </tr>
  {% endfor %}
</table>

</body>
{% endblock %}
<!--</html>-->
