<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

{% extends 'admin/index.html' %}
{% block body %}
<body>
<h2>View committe member allocation</h2>
<table class="table table-bordered" width="440" height="57" border="1">
  <tr>
    <td>event</td>
    <td>Committe member name</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  {% for i in data %}
  <tr>
    <td>&nbsp;{{i.PROGRAM.event}}</td>
    <td>&nbsp;{{i.MEMBER.member_name}}</td>
    <td><a href="/app/Edit_committee_member_allocation/{{ i.id }} #main" class="btn btn-success">Edit</a></td>
    <td><a href="/app/delete_committee_member_allocation/{{ i.id }} #main" class="btn btn-danger">Delete</a></td>
  </tr>
  {% endfor %}
</table>

</body>
{% endblock %}
<!--</html>-->
