<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <td><a href="/app/view_profile/">view profile</a></td>
  </tr>
  <tr>
    <td><a href="/app/view_Program/">view program</a></td>
  </tr>
  <tr>
    <td><a href="/app/candidate_registration/">candidate reg</a></td>
  </tr>
    <tr>
    <td><a href="/app/view_candidate_registration/">view candidate reg</a></td>
  </tr>
    <tr>
    <td><a href="/app/view_result/">view result(1)</a></td>
  </tr>
  <tr>
    <td><a href="/app/view_accomedation/">view accommodation(0)</a></td>
  </tr>
  <tr>
    <td><a href="/app/Appeals/">appeal entry</a></td>
  </tr>
  <tr>
    <td><a href="/app/view_appeal/">view appeal entry</a></td>
  </tr>
  <tr>
    <td><a href="/app/send_complaint/">send complaint</a></td>
  </tr>
  <tr>
    <td><a href="/app/view_complaint/">view complaint</a></td>
  </tr>
  <tr>
    <td><a href="/app/view_schedule/">view schedule</a></td>
  </tr>
</table>


</body>
</html>
