<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

{% extends 'college/college_index.html' %}
{% block body %}
<body>
<h1>view program </h1>

<table class="table table-bordered" width="259" border="1">
  <tr>
    <td>si.no</td>
    <td>Event</td>
    <td>Section</td>
    <td>category</td>
  </tr>
  {% for i in a %}
  <tr>
    <td>{{ forloop.counter }}&nbsp;</td>
    <td>{{i.event}}</td>
    <td>{{i.section}}</td>
    <td>{{i.category}}</td>
  </tr>
  {% endfor %}

</table>
</body>
{% endblock %}
<!--</html>-->
