<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

{% extends 'college/college_index.html' %}
{% block body %}
<body>
<form action="" method="get">
  <table class="table table-bordered" width="436" height="94" border="1">
  <tr>
    <th>s_no</th>
    <th>date</th>
    <th>candidate name</th>
    <th>appeal</th>
    <th>status</th>
  </tr>
  {% for i in data %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}&nbsp;</td>
    <td>&nbsp;{{ i.date }}</td>
    <td>&nbsp;{{ i.Participant.name }}</td>
    <td>&nbsp;{{ i.massage}}</td>
    <td>&nbsp;{{ i.reaplay }}</td>
  </tr>
  {% endfor %}
</table>
</form>
</body>
{% endblock %}
<!--</html>-->
