<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

{% extends 'college/college_index.html' %}
{% block body %}
<body>
<form action="" method="get">
  <table class="table table-bordered" width="543" height="87" border="1">
  <tr>
    <td>room NO</td>
    <td>lanmark</td>
    <td>bulding name</td>
    <td>place</td>
  </tr>
  {% for i in data %}
  <tr>
    <td>&nbsp;{{i.ACCOMADATION.room_no}}</td>
    <td>&nbsp;{{i.ACCOMADATION.land_mark}}</td>
    <td>&nbsp;{{i.ACCOMADATION.bulding_name}}</td>
    <td>&nbsp;{{i.ACCOMADATION.place}}</td>
  </tr>
  {% endfor %}
</table>
</form>
</body>
{% endblock %}
<!--</html>-->
