<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

{% extends 'college/college_index.html' %}
{% block body %}
<body>
<table class="table table-bordered" width="367" height="66" border="1">
  <tr>
    <td>si.no</td>
    <td>date</td>
    <td>complaint</td>
    <td>status</td>
    <td>reply</td>

  </tr>
  {% for i in data %}
  <tr>
    <td height="24">&nbsp;{{forloop.counter}}</td>
    <td>&nbsp;{{ i.date }}</td>
    <td>&nbsp;{{ i.complaint}}</td>
    <td>&nbsp;{{ i.status}}</td>
    <td>&nbsp;{{ i.reaplay}}</td>
  </tr>
  {% endfor %}
</table>
</body>
{% endblock %}
<!--</html>-->
